<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
 
        <p>Hi Property Developer <span th:text="${propertyDeveloperName}"></span> ,</p>
        
        
        <p>Super Admin <span th:text="${receiverName}"></span> has successfully modified documents to <span th:text="${Address}"></span></p>
    
		<p>The property ID is <span th:text="${PropertyID}"></span></p>
		
		<p>Thanks</p>
		
		<p><span th:text="${senderName}">Admin</span></p>
		
		<p>&nbsp;</p>
			 	     		     
    </body>   
</html>