<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
            
                
        <p>Hi <span th:text="${receiverName}"></span>,</p>

		<p> You have successfully disabled the profile of admin. The particulars are as follows:</p>
			
		<p>&nbsp;</p>
		
		<p>Name : <span th:text="${adminName}"></span></p>
		
		<p>Reference : <span th:text="${reference}"></span></p>
		
		<p>Username : <span th:text="${userName}"></span></p>
		
		<p>Thanks</p>
		
		<p><span th:text="${senderName}"> System Admin</span></p>
		
		<p>&nbsp;</p>
			     
			     
    </body>
    

</html>