<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
                    
        <p>Dear <span th:text="${receiverName}"></span>,</p>

		<p>Congratulations on registering your development project, we will contact you shortly if your project is suitable for our clients needs. May we remind you this is an application process and we do not guarantee the acceptance of the scheme at this point. </p>
		
		<p>We are particularly looking for schemes in the following areas:  </p>
		
		<ul>
		<li>Birmingham at least 100, 1 bed flats/studios/bed sits.</li>
		
		<li>Coventry at least 100, 1 bed flats/studios/bed sits.</li>
		
		<li>Leicester Leicestershire particularly Loughborough and Leicester City 50-75  1 bed flats/studios/bed sits.</li>
		
		<li>Staffordshire and particularly Stafford/Tamworth and Newcastle-under-Lyme 15-20,  1 bed flats/studios/bed sits for each area but all other area of Staffs will be considered.</li>
		
		<li>Nottingham and Nottinghamshire 100, 1 bed flats/studios/bed sits.</li>
		
		<li>Derbyshire :- Chesterfield/Bolsover/Amber valley and Erewash about 20, 1 bed flats/studios/bed sits in each area.</li>
		
		<li>Sheffield about 20-30, 1 bed flats/studios/bed sits - but this will increase.</li>
		
		<li>Worcestershire about 20-25,  1 bed flats/studios/bed sits.</li>
		
		</ul>
		
		<p>London all areas except the centre  I want properties in other areas but will get back to you on these as other managers also want property.   </p>
		
		<p>Liverpool and Manchester are considered but the primary focus will be for the above target areas where we need property now. </p>
			
		<p>If in the mean time you have any queries please email. </p>
		
		<p>info@ashantduchpropertyletting.co.uk </p>
		
		<p>Thanks</p>
		
		<p><span th:text="${senderName}">Admin</span></p>
		
    </body>
</html>