<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
                
        <p>Dear SuperAdmin <span th:text="${receiverName}"></span>this is to notify you that the <span th:text="${landlordName}"></span> of <span th:text="${postCode}"></span>,</p>

		<p> has updated his property details and the property application process is <span th:text="${status}"></span> </p>
			
		<p>&nbsp;</p>
		
		<p>Thanks</p>
		
		<p><span th:text="${senderName}">Admin</span></p>
		
		<p>&nbsp;</p>
			     
			     
    </body>
    

</html>