<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
            
        <p>Hello ,</p>

		<p>I am very much interesting in to provide you a work on Property situated in <strong><span th:text="${postcode}">Not an company</span></strong> for <strong><span th:text="${functionality}">Not an company</span> </strong>.</p>

		<p>Please send me the following details filled :</p>
		
		<p>Job's Description : <strong><span th:text="${jobsDescription}"></span></strong> </p> 

		<p>Time to complete :</p>

		<p>Amount:</p>
		
		<p>Please reply back if you need any more information regarding this.</p>

		<p>Thanks</p>

		<p><span th:text="${senderName}">Admin</span></p>

		<p>&nbsp;</p>
       			     
    </body>
    

</html>